.google {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #4285F4;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.i {
    padding-right: 10px;
}